In [4]:
from twelvedata import TDClient
import os

td = TDClient(os.getenv('TD_API'))

ts = td.time_series(
    symbol="EUR/USD",
    interval="1day",
    outputsize="365"
).as_pandas()

print(ts)

              open     high      low    close
datetime
2023-04-06  1.0905  1.09110  1.08845  1.08890
2023-04-05  1.0953  1.09700  1.08910  1.09080
2023-04-04  1.0896  1.09730  1.08830  1.09530
2023-04-03  1.0842  1.09170  1.07890  1.08980
2023-03-31  1.0907  1.09260  1.08430  1.08455
...            ...      ...      ...      ...
2021-11-18  1.1319  1.13750  1.13135  1.13690
2021-11-17  1.1321  1.13330  1.12635  1.13190
2021-11-16  1.1368  1.13865  1.13090  1.13190
2021-11-15  1.1452  1.14645  1.13555  1.13670
2021-11-12  1.1454  1.14625  1.14325  1.14500

[365 rows x 4 columns]