In [3]:
from twelvedata import TDClient

td = TDClient(apikey="foo")

ts = td.time_series(
    symbol="EUR/USD",
    interval="1day",
    outputsize="365"
).as_pandas()

print(ts)

               open     high      low    close
datetime
2023-04-04  1.08960  1.09730  1.08830  1.09540
2023-04-03  1.08420  1.09170  1.07890  1.08980
2023-03-31  1.09070  1.09260  1.08430  1.08455
2023-03-30  1.08400  1.09270  1.08240  1.09070
2023-03-29  1.08470  1.08715  1.08180  1.08390
...             ...      ...      ...      ...
2021-11-16  1.13680  1.13865  1.13090  1.13190
2021-11-15  1.14520  1.14645  1.13555  1.13670
2021-11-12  1.14540  1.14625  1.14325  1.14500
2021-11-11  1.14820  1.14885  1.14425  1.14500
2021-11-10  1.15925  1.15965  1.14755  1.14780

[365 rows x 4 columns]